<div class="row homeHeader">

        <div class="col-md-12"></div>

        <div class="col-md-6">Home</div>
        <div class="col-md-2">Manish</div>
        <div class="col-md-2">Singh</div>
        <div class="col-md-2"></div>

</div>
<div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2">
                <button class="input-sm goBackButton" (click)=navigateBack()>
                        <B>Go Back</B>
                </button>
        </div>
        <div class="col-md-2"></div>
</div>